mixin listItem(href, rel, name)
  li.header__menu-item
    a.header__link(href=href rel=rel)= name

mixin listItemMob(href, rel, name)
  li.header__menu-item-mob
    a.header__link(href=href rel=rel)= name