@import "~normalize.css";
@import "header/header.scss";
@import "fonts/fonts.scss";
@import "footer/footer.scss";
@import "variable/variable.scss";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  // background-color: #1e1e20;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Russo One', sans-serif;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
}

.main {
  background: no-repeat center url('../../assets/Images/main/армия\ роботов-1.jpg');
  background-size: cover;

  &__title {
    @include adaptiv-font(135, 65);
    padding: 15% 15px 15px;
    margin: 0;
    color: white;
  }

  &__subtitle {
    letter-spacing: 1px;
    color: #1386b8;
    text-shadow: 1px 0 1px #000,
      0 1px 1px #000,
      -1px 0 1px #000,
      0 -1px 1px #000;
    @include adaptiv-font(23, 16);
    font-weight: 900;
    margin: 15px;
  }
}

@media (min-width:1600px) {
  .main {
    &__title {
      font-size: 135px;
    }

    &__subtitle {
      font-size: 23px;
    }
  }
}

.wrapper-button {
  margin-top: 15%;
  padding-bottom: 5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__skroll {
    color: white;
    font-size: 12px;
  }

  &__link {
    line-height: 1;
  }

  &__button {
    width: 45px;
    height: auto;
    padding-top: 10px;
  }
}

.laws {
  background: #11749e;
  color: white;

  &__title {
    position: relative;
    @include adaptiv-font(30, 25);
    padding: 160px 15px;

    &::after {
      content: 'З';
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      line-height: 38px;
      @include adaptiv-font(250, 136);
      opacity: 0.15;
    }
  }

  &__wrapper-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 330px;
    padding-bottom: 9%;
  }

  &__item-wrapper-icon {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #1386b8;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 25px;
    transition: .3s;

    &:hover {
      background: #0897d4;
    }
  }

  &__item-icon {
    width: 64px;
    height: auto;
  }

  &__item-title {
    font-weight: 700;
    @include adaptiv-font(20, 16);
    margin-bottom: 20px;
  }

  &__item-description {
    padding: 0 15px;
    @include adaptiv-font(14, 12);
  }
}

@media (min-width:1600px) {
  .laws {
    &__title {
      font-size: 30px;

      &::after {
        font-size: 250px;
      }
    }

    &__item-title {
      font-size: 20px;
    }

    &__item-description {
      font-size: 14px;
    }
  }
}

@media (max-width:575px) {
  .laws {
    &__title {
      padding: 95px 15px;
    }

    &__item {
      padding-bottom: 20%;
    }
  }
}

@media (max-width:422px) {
  .laws {
    &__title {
      &::after {
        line-height: 2px;
      }
    }
  }
}

.experiences {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;

  &__item {
    width: 50%;
    background: #222222;

    position: relative;
    height: 0;
    // padding-bottom: 56.25%;
    /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    padding-bottom: 28.125%; //*(поделили верхнее значение т.к. блок с видео занимает пол экрана)
    overflow: hidden;
  }

  &__iframe {
    background: #11749e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }

  &__wrapper-item {
    padding: 10% 11% 0;
    text-align: start;
  }

  &__date-and-place {
    font-size: 12px;
  }

  &__title {
    @include adaptiv-font(20, 16);
    margin: 10px 0 25px;
  }

  &__description {
    @include adaptiv-font(16, 14);
    letter-spacing: 0.5px;
  }
}

@media (min-width:1600px) {
  .experiences {
    &__title {
      font-size: 20px;
    }

    &__description {
      font-size: 16px;
    }
  }
}

@media (max-width:991px) {
  .experiences {
    flex-flow: column nowrap;
    max-width: 760px;
    margin: 0 auto;

    &__item {
      width: 100%;
      padding-bottom: 56.25%;

      &:nth-child(3) {
        order: 1;
      }
    }
  }
}

@media (max-width:575px) {
  .experiences {
    &__item {
      &:first-child {
        min-height: 300px;
      }

      &:last-child {
        min-height: 300px;
      }
    }

    &__wrapper-item {
      text-align: center;
    }
  }
}

.ideology {
  background-color: white;
  color: #222222;

  &__title {
    position: relative;
    @include adaptiv-font(30, 25);
    padding: 160px 15px 100px;
    color: #1386b8;

    &::after {
      content: 'В';
      position: absolute;
      line-height: 38px;
      text-align: center;
      left: 0;
      right: 0;
      @include adaptiv-font(250, 136);
      opacity: 0.15;
    }
  }

  &__description {
    @include adaptiv-font(20, 16);
    margin-bottom: 45px;
    padding: 0 15px;
    color: #1386b8;
  }

  &__wrapper-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
  }

  &__item {
    max-width: 290px;
    margin: 0 15px;
    padding-bottom: 6%;
  }

  &__item-img {
    display: inherit;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
  }

  &__figcaption {
    background-color: #dcedf4;
  }

  &__item-title {
    @include adaptiv-font(18, 16);
    // margin: 20px 0 15px;
    padding: 20px 0 15px;
    color: #1386b8;
  }

  &__item-description {
    @include adaptiv-font(16, 14);
    padding: 0 5px 15px;
  }
}

@media (min-width:1600px) {
  .ideology {
    &__title {
      font-size: 30px;

      &::after {
        font-size: 250px;
      }
    }

    &__description {
      font-size: 20px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-description {
      font-size: 16px;
    }
  }
}

@media (max-width:767px) {
  .ideology {
    &__item {
      padding-bottom: 60px;
    }
  }
}

@media (max-width:575px) {
  .ideology {
    &__title {
      padding: 95px 15px 60px;
    }
  }
}

.results {
  background: #11749e;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  &__item {
    max-width: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 6% 0;
  }

  &__img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }

  &__description {
    @include adaptiv-font(16, 14);
    letter-spacing: 0.5px;
    margin: 0 15px;
    color: white;
  }
}

@media (min-width:1600px) {
  .results {
    &__description {
      font-size: 16px;
    }
  }
}

@media (max-width:991px) {
  .results {

    &__item {

      &:last-child {
        padding-top: 0;
      }
    }
  }
}

@media (max-width:767px) {
  .results {
    flex-flow: column nowrap;

    &__item {
      padding: 60px 0;
    }
  }
}

@media (max-width:575px) {
  .results {

    &__item {
      flex-flow: column nowrap;
    }

    &__description {
      margin: 30px 15px 0;
    }
  }
}

.joinUs {
  background: no-repeat center url('../../assets/Images/joinUs/bg-robocreatejpg.jpg');
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &__item {
    max-width: 460px;
    text-align: start;
    margin: 5%;
  }


  &__wrapper-img {
    line-height: 0;
  }

  &__wrapper-text {
    display: flex;
    flex-flow: column nowrap;
  }

  &__title {
    @include adaptiv-font(24, 18);
  }

  &__description {
    @include adaptiv-font(16, 14);
    letter-spacing: 0.5px;
    margin: 30px 0;
  }

  &__button {
    @include adaptiv-font(16, 14);
    text-decoration: none;
    background: #11749e;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    transition: .3s;

    &:hover {
      background: #005072;
    }
  }

  &__btn1 {
    width: 320px;
  }

  &__btn2 {
    width: 370px;
  }

  &__btn3 {
    width: 420px;
  }

  &__img {
    max-width: 300px;
    width: 100%;
  }
}

@media (min-width:1600px) {
  .joinUs {
    &__title {
      font-size: 24px;
    }

    &__description {
      font-size: 16px;
    }

    &__button {
      font-size: 16px;
    }
  }
}

@media (max-width:767px) {
  .joinUs {
    flex-flow: column nowrap;

    &__item {
      text-align: center;
      align-items: center;
      margin: 0;
    }

    &__wrapper-text {
      margin: 50px 15px 0;
    }

    &__wrapper-img {
      max-width: 200px;
      margin: 30px auto 50px;
    }
  }
}

@media (max-width:575px) {
  .joinUs {
    &__btn1 {
      width: 280px;
    }

    &__btn2 {
      width: 280px;
    }

    &__btn3 {
      width: 280px;
    }
  }
}

.bestPrototypes {
  background-color: white;

  &__title {
    position: relative;
    @include adaptiv-font(30, 25);
    padding: 160px 15px 100px;

    &::after {
      content: 'Л';
      position: absolute;
      line-height: 38px;
      text-align: center;
      left: 0;
      right: 0;
      @include adaptiv-font(250, 136);
      opacity: 0.15;
    }
  }

  &__description {
    @include adaptiv-font(20, 16);
    margin-bottom: 45px;
    padding: 0 15px;
  }

  &__wrapper-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    position: relative;
    margin: 0 15px;
    padding-bottom: 12%;
    width: 200px;
  }

  &__img {
    background: #000;
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: .3s;
    filter: grayscale(1);
    cursor: pointer;

    &:hover {
      filter: grayscale(0);
    }
  }

  &__figcaption {
    position: absolute;
    background-color: white;
    top: 260px;
    right: 0;
    left: 0;
    margin: 0 24px;
  }

  &__item-title {
    padding: 8px;
    color: #11749e;
  }
}

@media (min-width:1600px) {
  .bestPrototypes {
    &__title {
      font-size: 30px;

      &::after {
        font-size: 250px;
      }
    }

    &__description {
      font-size: 20px;
    }
  }
}

@media (max-width:575px) {
  .bestPrototypes {
    &__title {
      padding: 95px 15px 60px;
    }

    &__item {
      padding-bottom: 20%;
    }
  }
}

.Contact {
  background: rgb(22, 22, 22);
  background: no-repeat center url('../../assets/Images/contact/bg-contact.jpg');
  background-size: cover;
  color: white;

  &__title {
    position: relative;
    @include adaptiv-font(30, 25);
    padding: 160px 15px 120px;

    &::after {
      content: 'А';
      position: absolute;
      line-height: 38px;
      text-align: center;
      left: 0;
      right: 0;
      @include adaptiv-font(250, 136);
      opacity: 0.15;
    }
  }

  &__form {
    max-width: 930px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @include adaptiv-font(16, 14);
  }

  &__form-input {
    width: 27%;
    margin: 0 3% 20px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;

    &::placeholder {
      color: white;
    }

    &:focus {
      outline: none;
    }
  }

  &__form-textarea {
    width: 100%;
    margin: 0 3% 20px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;

    &::placeholder {
      color: white;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    margin: 0 auto 7%;
    border-style: none;
    background: #11749e;
    color: white;
    padding: 15px 40px;
    transition: .3s;

    &:hover {
      background: #005072;
    }
  }
}

@media (min-width:1600px) {
  .Contact {
    &__title {
      font-size: 30px;

      &::after {
        font-size: 250px;
      }
    }

    &__form {
      font-size: 16px;
    }
  }
}

@media (max-width:575px) {
  .Contact {
    &__title {
      padding: 95px 15px 60px;
    }

    &__form-input {
      width: 100%;
    }
  }
}

@media (max-width:515px) {
  .Contact {
    &__title {
      &::after {
        line-height: 2px;
      }
    }
  }
}

//******************************* 222222222
.second {
  padding-bottom: 10px;
  // height: 100vh;
  // background-color: #1e1e20;
  background-color: #181818;
  padding-top: 125px;
  position: inherit;
  display: flex;
}

.side {
  width: 285px;
  padding-right: 20px;
  transition: .25s;

  &__inner {
    display: flex;
    flex-direction: column;
    // height: 100%;
    // min-height: 600px;
    background-color: #252525;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px 20px;
  }

  &__header {
    position: relative;
  }

  &__pages,
  &__membersHeader {
    text-align: start;
    margin: 35px 5px 10px;
    color: white;
    transition: .2s;
  }


  &__logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    transition: .15s;
  }

  &__logo-text {
    margin: 0 10px 15px;
    color: #6c6af5;
    font-size: 24px;
    font-weight: 900;

    & span {
      color: white;
    }
  }

  &__toggle {
    display: inline-block;
    width: 26px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    // top: 0;
    // left: 84%;
    top: 3%;
    left: 100%;
    transform: translate(-100%, -3%);

    svg {
      fill: #6c6af5;
      transition: .15s;
      display: inline-block;
      vertical-align: middle;

      &:hover {
        fill: white;
      }
    }
  }

  &__admin {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
  }

  //модификатор
  &_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__admin-image {
    margin: 15px 0 15px;
  }

  &__wrap-text {
    margin-left: 15px;
    text-align: start;
    transition: .2s;
  }

  &__admin-text {
    color: rgb(240, 238, 238);
  }

  &__admin-subText {
    font-size: 11px;
    color: rgb(151, 151, 151);
  }

  &__members {
    display: flex;
    margin: 2px 10px 5px;
  }

  &__members-image {
    margin: 15px 0 15px;
  }

  &__members-image:not(:first-child) {
    margin-left: 15px;
  }

  &.minify {
    width: 120px;

    .side__inner {
      padding-bottom: 13px;
    }

    .side__logo {
      transform: translateX(-40px);
      opacity: 0;
      visibility: hidden;
    }

    .side__toggle {
      left: 50%;
      transform: translate(-50%, -3%);
    }

    .side__wrap-text {
      opacity: 0;
      transform: translateX(-60px);
      visibility: hidden;
      transition: .1s;
    }

    .side__pages {
      margin-top: 10px;
      transition: .2s;
    }

    .side__membersHeader,
    .side__members {
      display: none;
    }

    .nav {

      &__list-link::after {
        opacity: 0;
      }

      &__list-link.active::after {
        opacity: 1;
      }

      &__list-link-text {
        opacity: 0;
        transform: translateX(-60px);
        visibility: hidden;
      }
    }
  }
}

.nav {
  &__list-item {
    list-style: none;
    margin-bottom: 6px;
  }

  &__list-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    position: relative;

    height: 65px;
    color: rgb(240, 238, 238);

    &:hover,
    &.active {
      color: white;

      &::before {
        opacity: 1;
        transform: translate(0);
      }

      &::after {
        opacity: 1;
        transform: translate(-2px, -50%);
      }
    }

    &.active {
      &::before {
        width: calc(100% + 30px);
      }

      &::after {
        transform: translate(30px, -50%);
      }
    }

    //фон
    &::before {
      content: "";
      display: block;
      width: 100%;
      // width: 109%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #6a69fb;
      position: absolute;
      opacity: 0;
      transform: translateX(-20px);
      transform-origin: left;
      transition: .15s;
      border-radius: 12px;
    }

    //стрелка вправо
    &::after {
      content: "";
      width: 18px;
      height: 18px;
      background-image: url("../../assets/Images/secondPage/icons/arrows_right.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 0;
      top: 50%;
      // transform: translate(-40%, -50%);
      transform: translate(-16px, -50%);
      transition: .3s;
      opacity: 0;
    }
  }

  &__list-link-wrapSvg {
    display: flex;
    width: 50px;
    z-index: 2;
  }

  &__list-link-text {
    margin: 0 10px;
    z-index: 2;
    transition: .2s;
  }
}

.pageStat {
  margin-bottom: 39px;
  // width: calc(100% - 285px);
  width: 100%;
  color: #f0eeee;
  transition: .2s;

  &__inner {
    margin-right: 15px;
    border-radius: 20px;
    text-align: start;

    height: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "wm mn kd pz pz"
      "gr gr gr pz pz"
      "gr gr gr pz pz"
      "gr gr gr pz pz"
      "gr gr gr pz pz"
      "dt dt dt dt dt"
      "dt dt dt dt dt";
    gap: 10px;
    // justify-items: stretch;
  }

  &__grid-wm {
    grid-area: wm;
  }

  &__grid-mn {
    grid-area: mn;
  }

  &__grid-kd {
    grid-area: kd;
  }

  &__grid-pz {
    grid-area: pz;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }

  &__grid-gr {
    grid-area: gr;
  }

  &__grid-dt {
    grid-area: dt;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__grid-dt-header {
    margin: 15px;
    @include adaptiv-font(24, 18);
  }

  &__description {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    &-block {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin: 0 15px 15px;
      text-align: center;

      &-SubHeader {
        @include adaptiv-font(18, 14);
      }

      &-span {
        line-height: 1;
        margin-left: 10px;
        font-weight: 900;
        @include adaptiv-font(18, 14);
      }

      &-p {
        @include adaptiv-font(18, 14);
      }
    }
  }

  &__box {
    background-color: #252525;
    border-radius: 20px;
    transition: .2s;
  }

  &__wrap-circle {
    margin: 15px 15px 40px;
  }

  &__box-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &__sex {
    @include adaptiv-font(16, 14);
  }

  &__date {
    @include adaptiv-font(11, 9);
    line-height: 1;
  }

  &__number {
    padding: 15px;
    @include adaptiv-font(16, 14);
  }

  &__header-Diagram {
    text-align: center;
    margin: 30px 15px;
    @include adaptiv-font(24, 18);
  }

  &__PhotoMosaic {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    &-figure {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 10px;
      width: 130px;
    }

    &-img {
      width: 100%;
      max-width: 50px;
      height: 50px;
      object-fit: cover;
      // border-radius: 50%;
      // overflow: hidden;
      // flex-shrink: 0;
    }

    &-figcaption {
      @include adaptiv-font(14, 12);
      margin-left: 10px;
    }
  }

  &__wrap-points {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    @include adaptiv-font(16, 13);
  }

  &__colorful-points {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 15px 20px;
    line-height: 1;
  }

  &__colored-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  &__pointP {
    margin: 0 5px;
  }

  &__grid-wm:hover,
  &__grid-mn:hover,
  &__grid-kd:hover {
    transition: .2s;
    background-color: #6a69fb;
    color: white;
  }
}

@media (min-width: 1600px) {
  .pageStat {
    &__sex {
      font-size: 16px;
    }

    &__date {
      font-size: 11px;
    }

    &__number {
      font-size: 16px;
    }

    &__header-Diagram {
      font-size: 24px;
    }

    &__wrap-points {
      font-size: 16px;
    }

    &__PhotoMosaic {
      &-figcaption {
        font-size: 14px;
      }
    }

    &__grid-dt-header {
      font-size: 24px;
    }

    &__description {
      &-block {
        &-SubHeader {
          font-size: 18px;
        }

        &-span {
          font-size: 18px;
        }

        &-p {
          font-size: 18px;
        }
      }
    }
  }
}


@media (max-width: 991px) {
  .second {
    padding-top: 90px;
  }

  .side {
    padding-top: 90px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .pageStat {
    padding-left: 285px;

    &__inner {
      height: auto;
      grid-template-columns: 1fr 1fr 1fr;
      // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 100px 150px 150px 150px 1fr 1fr 1fr;
      grid-template-areas:
        "wm mn kd"
        "gr gr gr"
        "gr gr gr"
        "gr gr gr"
        "pz pz pz"
        "pz pz pz"
        "dt dt dt";
    }

    &__grid-wm,
    &__grid-mn,
    &__grid-kd {
      overflow: hidden;
    }

    &.minifyPS {
      padding-left: 120px;
    }
  }
}

@media (max-width:767px) {
  .pageStat {
    &__inner {
      margin-right: 10px;
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: 100px 100px 100px 120px 120px 120px 200px 200px 1fr;
      grid-template-rows: 100px 100px 100px 120px 120px 120px auto 1fr;
      grid-template-areas:
        "wm wm"
        "mn mn"
        "kd kd"
        "gr gr"
        "gr gr"
        "gr gr"
        "pz pz"
        "pz pz"
        "dt dt";
    }

    &__description {
      margin-bottom: 10px;

      &-block {
        flex-flow: column nowrap;
        margin-bottom: 10px;
      }
    }

    &__header-Diagram {
      margin: 10px;
    }

    &__wrap-circle {
      margin: 15px 15px 20px;
    }

    &__grid-dt-header {
      margin-bottom: 15px;
    }
  }
}

@media (max-width:575px) {
  .second {
    padding-top: 64px;
  }

  .side {
    padding-top: 64px;
    padding-right: 5px;

    &__inner {
      border: 1px solid #9494f3;
      border-left: none;
      padding: 10px 5px;
      padding-right: 8px;
    }

    &__logo-text {
      margin: 0 10px;
    }

    &__toggle {
      transform: translate(-140%, -3%);
    }

    &__pages,
    &__membersHeader {
      margin: 0 5px 10px;
    }

    &_image {
      margin: 15px 0 15px;
    }

    &__members-image {
      margin: 0;
    }
  }

  .nav {
    &__list-link {
      &.active {
        &::before {
          width: calc(100% + 20px);
        }

        &::after {
          transform: translate(20px, -50%);
        }
      }
    }
  }

  .side.minify {
    width: 80px;

    .side__pages {
      margin-top: 0;
    }

    .side__inner {
      padding-bottom: 0;
      border-color: #252525;
    }
  }

  .pageStat {
    padding-left: 90px;

    &.minifyPS {
      padding-left: 90px;
    }

    &__header-Diagram {
      margin-bottom: 5px;
    }

    &__PhotoMosaic {
      &-figure {
        width: 50px;
      }

      &-figcaption {
        display: none;
      }
    }
  }
}

.NumOfRob,
.HumAch,
.RobAch {
  display: none;
}

.green_text {
  color: #93fd9e;
}

.red_text {
  color: #880000;
}

.purpleLight_text {
  color: #a08efa;
}